<template name="MainLayout">
    {{> headerBar}}
    <div class="mg-container">
    {{#if currentUser}}
        {{> Template.dynamic template=main}}
    {{else}}
        {{> Template.dynamic template=notLoggedIn}}
    {{/if}}
    </div>
</template>
