.clickable, .closeIcon, .dispo {
  cursor: pointer;
}

strike {
  text-decoration-thickness: 3px;
  text-decoration-color: red;
}

.required {
  border: 2px solid red;
}

.my-container {
  margin: 10rem;
}