<head>
  <title>Kid Acct</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./lib/assets/milligram-dark.min.css" rel="stylesheet">
</head>

<body>
    
</body>
