<template name="dashboard">
    <div class="row">
        <div class="column">
            <div class="tabs">
                {{#if isInRole 'kid'}}
                    <h2>My Account</h2>
                    {{> myAcctCard}}
                {{/if}}
                {{#if isInRole 'systemadmin,parnt'}}
                    <h2>My Kids</h2>
                    {{> myKidsCard}}
                {{/if}}
            </div>
        </div>
    </div>
</template>