<template name="myAcctCard">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="row">
                    <div class="column">
                        <h3 id="myInfo"> <i class="material-icons">person</i> {{kidInfo.kidName}}</h3>
                    </div>
                    <div class="column">
                        <h3 class="white-text right">$ {{balAmt}}</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="column">
                        Acct #:
                    </div>
                    <div class="column">
                        {{kidInfo.kidAccountNo}}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        Username:
                    </div>
                    <div class="column">
                        {{kidInfo.kidUsername}}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        Current Balance:
                    </div>
                    <div class="column">
                        $ {{balAmt}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="column">

                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="column">
                            <button class="button button-clear transHistory">Transaction History</button>
                        </div>
                        <div class="column">
                            <button class="button button-clear reqPayment">Request Payment</button>
                        </div>
                        <div class="column">
                            <button class="button button-clear sendMoney">Send Money</button>
                        </div>
                        <div class="column">
                            <button class="button button-clear reqToBuy">Requuest Purchase</button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="column">

        </div>
    </div>
    {{> modalTransList}}
    {{> requestsModal}}
</template>