<template name="myKidsCard">   
    <div class="row">
        {{#each kidInfo}}
        <div class="column">
            <div class="card">
                <div class="row">
                    <div class="column">
                        <h3>{{kidName}}</h3>
                    </div>
                    <div class="column">
                        <h3>$ {{balAmt}}</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="column">
                        Account#:
                    </div>
                    <div class="column">
                        <strong>{{kidAccountNo}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        Email:
                    </div>
                    <div class="column">
                        <strong>{{kidUsername}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        Current Balance:
                    </div>
                    <div class="column">
                        <strong>$ {{balAmt}}</strong>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="column" align="center">
                        <button class="button-green button addFunds">+ Add Funds</button>
                    </div>
                    <div class="column" align="center">
                        <button class="button-orange button takeFunds">- Take Funds</button>
                    </div>
                    <div class="column" align="center">
                        <button class="button button-blue transList">Transactions</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{> modalFundsTrans}}
    {{> modalTransList}}
</template>