<template name="headerBar">
  <div class="header">
    <a href="#default" id="brandLogo" class="logo">Kid Acct</a>
    <div class="header-right">
      {{#if currentUser}}
        <a href="#" id="myacct" class="navBtn">My Account</a>
        {{#if isInRole 'systemadmin'}}
          <a href="#" id="userMgmt" class="navBtn">Manage Users</a>
          <a href="#" id="mygroups" class="navBtn">My Groups</a>
          <a href="#" id="mykids" class="navBtn">My Kids</a>
        {{/if}}
          <a href="#" class="signOut">Log Out</a>
      {{else}}
        <a href="#!" id="login" class="navBtn">Login</a>
      {{/if}}
    </div>
  </div>      
</template>
