<template name="editUserModal">
    <div class="modal" id="editUserInfo">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h3>Edit User Info</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="column">
                        <p>Enter a new password for the user {{username}}, then click 'Save'.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <input type="password" class="newpass" id="newPass" />
                    </div>
                    <div class="column">
                        <input type="password" class="newPassConfirm" id="newPassConfirm" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="column">
                        <button class="button button-orange" id="cancelPassChange">Cancel</button>
                    </div>
                    <div class="column">
                        <button class="button right button-green" id="savePasswordChange">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>