<template name="requestsModal">
    <div id="reqModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h3>{{reqType}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="column">
                        <label for="reqAmt">Amount:</label>
                        <input type="number" class="reqAmt" id="reqAmt" />
                    </div>
                    <div class="column">
                        {{#if $neq reqType "Send Money"}}
                            <label for="reqFor">Payment For</label>
                            <input type="text" class="reqFor" id="reqFor" />
                        {{else}}
                            <label for="sendTo">Send To</label>
                            <select name="sendTo" id="sendTo" class="sendTo">
                                <option value="" disabled selected></option>
                                {{#each users}}
                                    <option value="{{username}}">{{username}}</option>
                                {{/each}}
                            </select>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="column">
                        <button class="modal-close button button-orange">Cancel</button>
                    </div>
                    <div class="column">
                        <button class="button button-green right submitRequest">Request</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>