<template name="kidAccountForm">
    <form action="" id="addKidAcct">
        <div class="row">
            <div class="column">
                <div class="row">
                    <div class="column">
                        <label for="kidName">Name</label>
                        <input type="text" class="kidName" id="kidName" style="{{#if $eq nameErr true}}border: 1px solid red;{{/if}}" /> 
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="kidUsername">Email</label>
                        <input type="email" class="kidUsername" id="kidUsername" style="{{#if $eq userErr true}}border: 1px solid red;{{/if}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="kidPass">Password</label>
                        <input type="password" class="kidPass" id="kidPass" style="{{#if $eq passErr true}}border: 1px solid red;{{/if}}" />  
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="kidInitBal">Initial Balance</label>
                        <input type="number" class="kidInitBal" id="kidInitBal" value="0.00" style="{{#if $eq initErr true}}border: 1px solid red;{{/if}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="kidAcctNo">Account #</label>
                        <input type="text" class="kidAcctNo" id="kidAcctNo" style="{{#if $eq acctErr true}}border: 1px solid red;{{/if}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <button class="button button-blue right autoAcctNo" align="bottom">Auto-Generate Account #</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="row">
                    <div class="column">
                        <label class="mg-checkbox">
                            <input type="checkbox" name="canGoNeg" id="canGoNeg" />
                            Can Go Negative?
                        </label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="column">
                            <label class="mg-checkbox">
                              <input type="checkbox" name="canBorrow" id="canBorrow" />
                              Can Borrow?
                            </label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="column">
                            <label class="mg-checkbox">
                              <input type="checkbox" name="canReqPay" id="canReqPay" />
                              <span>Can Request Payment?</span>
                            </label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="column">
                            <label class="mg-checkbox">
                              <input type="checkbox" name="canTransfer" id="canTransfer" />
                              <span>Can Pay or Transfer?</span>
                            </label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="column">
                            <label class="mg-checkbox">
                              <input type="checkbox" name="canReqBuy" id="canReqBuy" />
                              <span>Can Request to Buy?</span>
                            </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="column">
                <button class="button-green right addKidAcct">Add +</button>
            </div>
        </div>
    </form>
</template>