<template name="kidAccountList">
    <div class="row">
        <div class="column">
            <table class="striped highlight">
                <thead>
                    <tr>
                        <th>Account #</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Acct Balance</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each kids}}
                        <tr>
                            <td>{{kidAccountNo}}</td>
                            <td>{{kidName}}</td>
                            <td>{{kidUsername}}</td>
                            <td>{{kidBalance}}</td>
                            <td>
                                <i class="material-icons clickable editKidAccount">edit</i>
                                <i class="material-icons clickable deleteKidAccount">delete</i>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>