<template name="modalFundsTrans">
    <div id="modalFundsTrans" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h3>Funds Transaction</h3>
                
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="column">
                        <h5>{{kidTrans}}</h5>
                    </div>
                    <div class="column">
                        <h5 class="{{#if $eq noNeg true}}red-text{{/if}}">$ {{kidBal}}</h5>
                        {{#if $eq noNeg true}}
                            <div class="row">
                                <div class="column">
                                    <span class="red yellow-text">User Not Allowed to have Negative Balance.</span>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="amount">Amount</label>
                        <input type="number" class="amount" id="amount" />
                    </div>
                    <div class="column">
                        <label for="transNote">Reason</label>
                        <input type="text" class="transNote" id="transNote" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="column">
                        <button class="button button-orange cancelTrans">Cancel</button>
                    </div>
                    <div class="column">
                        <button class="button button-green right makeTrans">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>