<template name="modalTransList">
    <div id="modalTransList" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h3>Transaction History</h3>
            </div>
            <div class="modal-body">
                <table class="highlight striped">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>For</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each trans}}
                            <tr>
                                <td>$ {{transAmt}}</td>
                                <td>{{transactionNote}}</td>
                                <td>{{transDate}}</td>      
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="button button-orange modal-close">Close</button>
            </div>
        </div>
    </div>
</template>