<template name="reg">
    {{#if $not currentUser}}
        <div id="registrationForm">
            <div class="my-container">
                <h4>Register</h4>
                <div class="row">
                    <div class="column">
                        <div align="center">
                            <div class="card mid-card">
                                <div class="card-content">
                                    <form class="register">
                                        <div class="row">
                                            <div class="column">
                                                <label for="name">Your Full Name *</label>
                                                <input type="text" name="name" class="name {{#if $eq misName true}}red lighten-3{{/if}}" id="name" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column">
                                                <label for="email">Email *</label>
                                                <input type="email" name="email" id="email" class="email {{#if $eq misEmail true}}red lighten-3{{/if}}" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column">
                                                <label for="password">Password *</label>
                                                <input type="password" name="password" id="password" class="password {{#if $eq misPass true}}red lighten-3{{/if}}" />              
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column {{#if $eq canReg false}}orange lighten-1{{/if}}">
                                                <label for="passwordConfirm">Confirm Password *</label>
                                                <input type="password" name="passwordConfirm" id="passwordConfirm" class="passwordConfirm" /> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column">
                                                <buton class="button button-green registerMe" id="registerMe" disabled="{{#if $eq canReg false}}disabled{{/if}}">Register Me</buton>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-action">
                                <a href="#" id="login">Sign In</a>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>