<template name="acctGroupList">
    <div class="row">
        <div class="column">
            <h4>Account Group Names</h4>
            <table class="striped highlight">
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each acctGroups}}
                        <tr>
                            <td>{{groupName}}</td>
                            <td>
                                <i class="material-icons editGroupName clickable">edit</i>
                                <i class="material-icons deleteGroupName clickable">delete</i>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{> deleteConfirmationModal}}
</template>