<template name="acctGroup">
    <h5>Account Groups</h5>
    <form action="" class="createAcctGroup">
        <div class="row">
            <div class="column">
                <label for="accountGroupname">Account Group Name</label>
                <input type="text" class="accountGroupName" id="accountGroupName" />  
            </div>
        </div>
        <div class="row">
            <div class="column">
                <button class="button-green right addAcctGroup">Add Account Group</button>
            </div>
        </div>
    </form>
    <hr>
    {{> acctGroupList}}
</template>
