<template name="home">
    <div class="container">
        <h4>Welcome to Kid Acct!</h4>
        <p class="flow-text">Please login to start using Kid Acct.  An open source, self hostable, free to use, modify, re-distribute kid banking system.  Created to help reward kids, and teach them about saving, spending, borrowing, and financial planning.</p>
    </div>
</template>